<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sohee.mynewapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MynewApplication">
        <activity
            android:name=".activity.jeju"
            android:exported="false" />
        <activity
            android:name=".activity.ggd"
            android:exported="false" />
        <activity
            android:name=".activity.seoul"
            android:exported="false" />
        <activity
            android:name=".activity.jenla1"
            android:exported="false" />

        <activity android:name=".dialog.UpdateActivity"/>
        <activity android:name=".dialog.UpdateJeju"/>
        <activity android:name=".dialog.UpdateGgd"/>

        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MynewApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>